{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Menu - Coffee Shop</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Our Menu</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{coffee.image}}" class="card-img-top" alt="Espresso">
                    <div class="card-body">
                        <h5 class="card-title">Espresso</h5>
                        <p class="card-text">$3.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/cappuccino.jpg' %}" class="card-img-top" alt="Cappuccino">
                    <div class="card-body">
                        <h5 class="card-title">Cappuccino</h5>
                        <p class="card-text">$4.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/latte.jpg' %}" class="card-img-top" alt="Latte">
                    <div class="card-body">
                        <h5 class="card-title">Latte</h5>
                        <p class="card-text">$4.50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
